.nav-bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // padding: 0 0;
  
    .logo {
      padding: 8px 0;
  
      img {
        display: block;
        margin: 8px auto;
        width: 50px;
        height: auto;
      }
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
  
      a {
        font-size: 2rem; /* Use rem for scalability */
        color: #4d4d4e;
        display: block;
        margin: 10px 0;
        text-decoration: none;
        transition: color 0.3s ease-out;
  
        &:hover {
          color: #ffd700;
        }
  
        &.active svg {
          color: #ffd700;
        }
  
        &:after {
          content: attr(data-label);
          font-size: 1rem;
          color: #4d4d4e;
          display: block;
          margin-top: 5px;
          transition: color 0.3s ease-out;
        }
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      li {
        margin: 5px 0;
  
        a {
          font-size: 1.5rem;
          color: #4d4d4e;
          transition: color 0.3s ease-out;
  
          &:hover svg {
            color: #ffd700;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      width: 50px;
  
      .logo img {
        width: 40px;
      }
  
      nav a {
        font-size: 1.8rem;
      }
  
      ul li a {
        font-size: 1.3rem;
      }
    }
  
    @media (max-width: 480px) {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
  
      .logo {
        margin-left: 10px;
      }
  
      nav {
        flex-direction: row;
  
        a {
          font-size: 1.6rem;
          margin: 0 10px;
        }
      }
  
      ul {
        flex-direction: row;
  
        li {
          margin: 0 10px;
        }
      }
    }
  }
  